<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Trazabilidad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Agregar Trazabilidad para {{ persona.nombre }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" >Guardar Trazabilidad</button>
            <a href="{% url 'buscar_resultado' persona.documento %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
