{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body" style="background: transparent; border: none;">
        <h1 class="display-3 text-center">Datos del archivo CSV</h1>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for columna in columnas %}
                        <th>{{ columna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cargar_archivo' %}" class="btn btn-primary mt-4">Subir otro archivo</a>
    </section>
</main>
{% endblock %}